[Desktop Entry]
Version=1.0
Type=Application
Name=Kiro
GenericName=Kiro
Comment=Code Editing. Redefined.
Exec=kiro --unity-launch %F
Icon=code
Categories=TextEditor;Development;IDE;
StartupWMClass=kiro
StartupNotify=true
Keywords=amazon;kiro;Q;
MimeType=text/plain;inode/directory;application/x-code-workspace;
Actions=new-empty-window;

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=kiro --new-window %F
Icon=code
